@import "guatemala.css"; 
@import "canada.css";
@import "ireland.css";
@import "greece.css";

@import url("https://fonts.googleapis.com/css?family=Comfortaa%7CPatua+One");

.myButton {
    width: 100px;
    text-align: center;
    color: rgb(255, 255, 255); font-size: 20px; line-height: 20px; padding: 9px; border-radius: 9px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(26, 116, 142) 0%, rgb(26, 116, 142) 50%, rgb(26, 116, 142) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1A748E; }
    .myButton:active {
    background: #1A748E; }
    

.location{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

body {
    background: #FFFFF0;
    font-family: "Comfortaa", Arial, sans-serif;
}

h1 {
    color: #FFFFF0
}

.countryName {
    color:#1a748e;
    font-size: 50px;
    text-align: center;
}

.country__name {
    text-align: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    border: black 2px;
    color: #55c4d7;   
    font-size: 30px;
    justify-content: space-around; 
}

.navigation__link {
    /* color: #1a748e; */
    margin: 10px;    
}



.location__cities {
    padding: 0px 50px;
    font-size: 40px;

    /* set width so all boxes are the same size */
    width: 400px;

    /* add rounded corners  */
    border-radius: 10px;
    
    background-color: #55c4d7;

    /* add a shadow to the boxes  */
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    
    /* clean up margin and padding  */
    margin: 20px;
    
}

.location__landmarks {
    padding: 0px 50px;
    font-size: 40px;

    width: 400px;
    border-radius: 10px;
    background-color: #55c4d7;
       
    /* add shadow to box */
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin: 20px;
}

.location__citizens {
    padding: 0px 50px;
    font-size: 40px;

    width: 400px;
    border-radius: 10px;
    background-color: #55c4d7;
 
    /* add shadow to box */
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.travel__image {
    border-radius: 10px;
    /* add a shadow to the boxes  */
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 500px;
}

ul{
    padding: 20px;
}

.country__image {
    height: 250px;
    width: 250px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin-bottom: 10px;
    border-radius: 10px;
}

h1.title {
    color: #1a748e;
}

.footer {
    margin-top: 25px;
    text-align: center;
}

.countryTitle {
    text-align: center;
    margin-bottom: 50px;
}